.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form-container {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    width: 400px;
    text-align: center;
  }
  
  .logo-container {
    margin-bottom: 30px;
  }
  
  .logo-container img {
    width: 100%;
  }
  
  .login-form {
    margin-top: 20px;
  }
  
  .login-form-forgot {
    float: right;
  }
  
  .login-form-button {
    width: 100%;
  }
  